$border-width: 1px;

$font-size: 14px;

// Colors
$white: #fff;
$dark-grey: #333;
$darkish-grey: #666;
$medium-grey: #999;
$light-grey: #ccc;
$lighter-grey: #eee;
$container-color: rgba(255, 255, 255, 0.3);

$serif: georgia, serif;
$border-radius: 4px;
$content-width: 520px;
$border: $border-width solid rgba(0, 0, 0, 0.1);

$navbar-height: 40px;
$navbar-height-mobile: 50px;

@mixin accent-button {
    background: linear-gradient(
        var(--accent-color),
        color-mix(in srgb, var(--accent-color), #000 20%)
    );
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-color: color-mix(in srgb, var(--accent-color), #000 20%);
}
