//colors
$dark-grey: #333;
$light-grey: #ccc;
$lighter-grey: #eee;
$medium-grey: #999;
$container-color: rgba(255, 255, 255, 0.3);
$border-radius: 4px;
$content-width: 500px;
$serif: georgia, serif;
$border: 1px solid rgba(0, 0, 0, 0.1);
$navbar-height: 40px;
