@use "variables" as *;

body {
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    background: #224 center/cover fixed repeat;
    color: $dark-grey;
    overflow-x: hidden;
    overflow-y: scroll;
}

#container {
    position: relative;
    top: 32px;
    padding: 16px;
    background-color: $container-color;
    width: 920px;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-flow: wrap;
    align-content: baseline;
}

a {
    color: unset;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#content {
    display: flex;
    flex-flow: column;
    width: 582px;
    margin-left: auto;
}

.button {
    font-size: 13px;
    padding: 4px 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid $light-grey;
    background: linear-gradient(#fff, #ddd);
    font-weight: 700;
    &:hover {
        border-color: #c8c8c8;
        background: linear-gradient(#f8f8f8, #d8d8d8);
    }
}
button.active {
    background: linear-gradient(var(--accent-color));
}

.card .pfp,
.profile-header,
.side-nav {
    border: $border;
}

.profile-header .stats-buttons a:hover,
.profile-header .stats-buttons a:hover b,
.side-nav a {
    text-decoration: none;
    color: var(--accent-color);
}

a.header:hover,
a.handle:hover,
a.timestamp:hover {
    text-decoration: underline;
    color: var(--accent-color) !important;
}

.bio a,
.post-content a {
    color: var(--accent-color) !important;
}

.button,
.handle,
.display-name,
.bio,
.timestamp,
.interaction,
.side-nav {
    text-shadow: 0 1px 0 #fff;
}

code {
    font-family: monospace;
    background-color: #3331;
    padding: 0px 4px;
    border-radius: 6px;
}

.emoji {
    font-style: normal;
}

.buffer {
    width: 100%;
    height: 80vh;
}

@media (min-width: 920px) {
    .sticky-header {
        display: none;
    }

    .side-bar {
        display: block;
        &.sticky {
            position: fixed;
        }
    }

    .side-nav {
        $width: 300px;
        background: #f9f9f9;
        border-radius: 4px;
        width: $width;
        margin-bottom: 8px;
        position: relative;
        a {
            width: $width - 24px;
            display: block;
            padding: 8px 12px;
            border-bottom: 1px solid #e8e8e8;
            .images {
                margin-top: 4px;
                img {
                    width: 66px;
                    height: 66px;
                    object-fit: cover;
                    margin-right: 4px;
                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
            &::before {
                content: "❯";
                display: block;
                float: right;
                color: $light-grey;
                line-height: 0.9;
                font-size: 19px;
                position: absolute;
                right: 12px;
            }
            &:hover::before,
            &.active::before {
                color: #666;
            }
            &:first-of-type {
                border-radius: 4px 4px 0 0;
            }
            &:last-of-type {
                border-bottom: none;
                border-radius: 0 0 4px 4px;
            }
            &:only-of-type {
                border-radius: 4px !important;
            }
            &.active,
            &:hover {
                background: #fff;
                color: $dark-grey;
            }
            &.active {
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 920px) {
    .sticky-header {
        z-index: 1;
        display: block;
        position: fixed;
        top: 0;
        background-color: #fff;
        width: 100vw;
        height: 32px;
        background-image: linear-gradient(#fff, $lighter-grey);
        user-select: none;
        a {
            background: none;
            border: none;
            font-size: 24px;
            float: left;
            line-height: 18px;
            padding-top: 8px;
            padding-bottom: 6px;
            &:hover {
                text-decoration: none;
            }
        }
        span {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: min-content;
            padding: 8px 0;
            height: 16px;
        }
    }

    html {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    #navbar {
        bottom: 0;
        padding: 0;
    }

    #container {
        min-width: unset;
        width: 100vw;
        padding: 12px 0;
        top: 32px;
    }

    #content {
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
    }

    .side-bar {
        display: block;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap; /* Prevent wrapping */
        scrollbar-width: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10; /* Ensure it's above other content */
        &::-webkit-scrollbar {
            display: none;
        }
        a {
            &.active,
            &:hover {
                background: #fff;
                color: $dark-grey;
            }
            &.active {
                font-weight: 700;
            }
        }
    }
    .side-nav {
        width: 100%;
        background: #f9f9f9;
        display: flex; /* Allow horizontal arrangement */
        margin-right: 8px;
        overflow-x: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        a {
            flex-direction: row;
            display: inline-block; /* Allow horizontal arrangement */
            padding: 8px 12px;
            border-bottom: 1px solid #e8e8e8;
            border-right: 1px solid #e8e8e8;
            &:last-of-type {
                border-right: none;
            }
            .images {
                display: none;
            }
        }
    }
}
