@use "variables" as *;

html,
body {
    overscroll-behavior-y: none;
}

body {
    font-family: arial, sans-serif;
    font-size: $font-size;
    height: 100%;
    margin: 0;
    background: #224 center/cover fixed repeat;
    color: $dark-grey;
    overflow-x: hidden;
    overflow-y: scroll;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0005;
    z-index: 2;
}

body:has(.background) {
    overflow-y: hidden;
}

.accent-button {
    @include accent-button;
}

.text-box {
    padding: 8px 12px;
    border-radius: $border-radius;
    border: $border;
    font-size: $font-size;
    outline: none;
    overflow-y: auto;
    flex-grow: 1;
    word-break: break-all;
    &:empty:before {
        font-size: $font-size;
        color: $medium-grey;
        content: attr(aria-placeholder);
        cursor: text;
    }
}

#container {
    position: relative;
    top: 40px;
    padding: 8px;
    background-color: $container-color;
    width: 920px;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-flow: wrap;
    align-content: baseline;
}

a {
    color: unset;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }
}

.label {
    background-color: $lighter-grey;
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    padding: 2px 6px;
    margin-bottom: 1px;
}

#content {
    display: flex;
    flex-flow: column;
    overscroll-behavior: auto;
}
#content,
#content-holder {
    width: 594px;
    margin-left: auto;
}

button {
    font-size: 13px;
    padding: 4px 12px;
    cursor: pointer;
    border-radius: 4px;
    border: $border-width solid $light-grey;
    background-color: #fff;
    background-image: linear-gradient(#fff, #ddd);
    font-weight: 700;
    &:hover {
        border-color: #c8c8c8;
        background-color: #f8f8f8;
        background: linear-gradient(#f8f8f8, #d8d8d8);
    }
}
button.active {
    background-color: var(--accent-color);
}

.card-holder .avatar-holder,
.profile-header,
.side-nav {
    border: $border;
}

.profile-header .stats-buttons a:hover,
.profile-header .stats-buttons a:hover b,
.side-nav a {
    text-decoration: none;
    color: var(--accent-color);
    text-decoration-thickness: 1px;
}

a.header:hover,
a.handle:hover,
a.timestamp:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: var(--accent-color);
}

.bio a,
.text-content a {
    color: var(--accent-color) !important;
}

button,
.handle,
.display-name,
.bio,
.timestamp,
.side-nav {
    text-shadow: 0 1px 0 #fff;
}

code {
    font-family: monospace;
    background-color: #3331;
    padding: 0px 4px;
    border-radius: 6px;
}

.emoji {
    font-style: normal;
}

.buffer-bottom {
    width: 100%;
    height: 80vh;
}

.small {
    font-size: 12px;
    color: $darkish-grey;
    word-break: break-all;
}

.small-link {
    font-size: 12px;
    color: var(--accent-color);
    width: fit-content;

    &:hover {
        cursor: pointer;
    }
}

#search-bar {
    height: 33px;
}

input {
    outline: none;
    border: $border;
    border-radius: $border-radius;
    background-color: $white;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: $font-size;
    height: 33px;
    &::placeholder {
        color: $medium-grey;
        content: attr(aria-placeholder);
        cursor: text;
    }
}
select {
    appearance: none;
    border: $border;
    border-radius: $border-radius;
    background: $white url("../svg/chevron-compact-down.svg") no-repeat right
        8px center / 16px;
    padding: 4px 28px 4px 12px;
    box-sizing: border-box;
    font-size: $font-size;
    height: 33px;
}

.image-view {
    img {
        max-width: 100vw;
        max-height: calc(100% - 30px);
        position: fixed;
        top: calc(50% + 15px);
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.close-button,
.composer .close-button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    line-height: 8px;
    padding: 6px;
    &.large {
        font-size: 24px;
        line-height: 12px;
        padding: 8px;
    }
}
.see-raw-button {
    left: 0;
    top: 0;
    button {
        height: 30px;
    }
}

.ztop {
    z-index: 1;
    position: fixed;
}

#pull-indicator {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    color: white;
    opacity: 0;
    > div {
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        border-top: 2px solid transparent;
        border-radius: 50%;
        display: block;
    }
}

@media (min-width: 920px) {
    .buffer-top {
        display: none;
    }

    .sticky-header {
        display: none;
    }

    #side-bar {
        $width: 300px;
        display: block;
        &.sticky {
            position: fixed;
            max-height: calc(100% - $navbar-height - 8px);
            overflow-x: hidden;
            overflow-y: auto;
        }
        #search-bar {
            margin-bottom: 8px;
            width: $width;
        }

        .side-nav {
            box-sizing: border-box;
            background-color: #f9f9f9;
            border-radius: 4px;
            width: $width;
            margin-bottom: 8px;
            position: relative;
            &:last-of-type {
                margin-bottom: 0;
            }
            a {
                cursor: pointer;
                width: $width - 26px;
                display: block;
                padding: 8px 12px;
                border-bottom: 1px solid #e8e8e8;
                .images {
                    display: flex;
                    gap: 4px;
                    margin-top: 4px;
                    img {
                        width: 66px;
                        height: 66px;
                        object-fit: cover;
                    }
                }
                &::before {
                    content: "❯";
                    display: block;
                    float: right;
                    color: $light-grey;
                    line-height: 0.9;
                    font-size: 19px;
                    position: absolute;
                    right: 12px;
                }
                &:hover::before,
                &.active::before {
                    color: #666;
                }
                &:first-of-type {
                    border-radius: 4px 4px 0 0;
                }
                &:last-of-type {
                    border-bottom: none;
                    border-radius: 0 0 4px 4px;
                }
                &:only-of-type {
                    border-radius: 4px !important;
                }
                &.active,
                &:hover {
                    background: #fff;
                    color: $dark-grey;
                }
                &.active {
                    font-weight: 700;
                }
            }
        }
    }
}

@media (max-width: 920px) {
    #search-bar {
        height: 27px;
    }

    $header-height: 40px;
    $font-size: 15px;

    .sticky-header {
        z-index: 1;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100vw;
        height: $header-height;
        box-sizing: border-box;
        border-bottom: 1px solid #e8e8e8;
        background-color: #f9f9f9;
        user-select: none;
        box-sizing: border-box;
        .return-button {
            $size: 28px;
            background-image: url("/src/svg/arrow-left.svg");
            background-size: contain;
            position: fixed;
            width: $size;
            height: $size;
            margin: ($header-height - $size) * 0.5;
            cursor: pointer;
        }
        span {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: min-content;
            font-size: $font-size;
            height: $font-size;
            padding: ($header-height - $font-size) * 0.5;
        }
    }

    html {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    #navbar {
        bottom: 0;
        padding: 0;
    }

    #container {
        min-width: unset;
        width: 100vw;
        padding: 8px;
        padding-bottom: 40px;
        background: none;
    }

    #content,
    #content-holder {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #side-bar {
        background: #f9f9f9;
        display: block;
        width: 100%;
        white-space: nowrap;
        scrollbar-width: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        border-bottom: 1px solid #e8e8e8;
        &::-webkit-scrollbar {
            display: none;
        }
        a {
            &.active,
            &:hover {
                background: #fff;
                color: $dark-grey;
            }
            &.active {
                font-weight: 700;
            }
        }
        #search-bar {
            $margin: 6px;
            margin: $margin;
            width: calc(100% - $margin * 2);
        }
    }
    .side-nav {
        overflow-x: scroll;
        display: flex;
        flex-flow: row;
        margin-right: 8px;
        scrollbar-width: none;
        border-width: 0;
        &::-webkit-scrollbar {
            display: none;
        }
        a {
            display: flex;
            align-items: center;
            font-size: $font-size;
            padding: 0 15px;
            height: 39px;
            border-right: 1px solid #e8e8e8;
            border-width: 0;
            border-right-width: 1px;
            .images {
                display: none;
            }
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
    .buffer-top {
        width: 100vw;
        height: 40px;
    }
}
