@use "variables" as *;
@use "icons" as icon;

.simple-card {
    background: $white;
    border: $border;
    border-radius: $border-radius;
    display: block;
    flex-grow: 1;
    margin-bottom: 8px;
    padding: 8px;
}

.card {
    display: flex;
    scroll-margin: 48px;
    flex-grow: 1;

    .content {
        background: $white;
        border: $border;
        border-radius: $border-radius;
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        padding: 8px;
        margin-bottom: 8px;
    }

    .display-name::before {
        content: " ";
    }

    .pfp-holder {
        display: block;
        float: left;
        flex-shrink: 1;
        line-height: 0;
        margin: 3px 10px;
        border-radius: 3px;
        a {
            display: block;
        }
        .pfp {
            border-radius: 2px;
        }
    }

    .pfp-holder,
    .pfp {
        height: 48px;
        width: 48px;
    }

    .warnings {
        margin-top: 3px;
    }

    .warning {
        background-color: $lighter-grey;
        border-radius: 8px;
        display: inline-block;
        font-size: 12px;
        padding: 2px 6px;
    }

    &.show-muted {
        cursor: pointer;
        margin-bottom: 0;

        .content {
            margin: 0;
            min-height: 16px;
        }

        .pfp {
            background-color: #fff;
            background-image: url("../svg/mute-pfp.svg");
            background-size: cover;
        }

        .pfp-holder {
            margin: 0 8px;
        }

        .pfp-holder,
        .pfp {
            height: 32px;
            width: 32px;
        }

        &:hover {
            .content,
            .pfp {
                background-color: $lighter-grey;
            }
        }
    }
}

.profile {
    .bio {
        font-size: 12px;
        line-height: 14px;
        min-height: 42px;
        max-height: 42px;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }

    .handle {
        font-weight: 700;
    }

    .header {
        font-size: 13px;
    }
}

.small {
    font-size: 12px;
    color: $darkish-grey;
}

.post {
    .left-area {
        display: flex;
        flex-flow: column;
    }

    .footer {
        display: flex;
        flex-flow: column;
        margin-top: 2px;
    }

    .pfp-holder::after {
        background-image: url("../svg/bubble.svg");
        content: "";
        display: block;
        position: relative;
        width: 12px;
        height: 16px;
        left: 50px;
        bottom: 32px;
    }

    .post-content {
        display: block;
        word-break: break-word;
        //line-height: 1.25em;
    }

    .translate {
        font-size: 12px;
    }

    .post-data {
        display: flex;
        flex-flow: row;
        font-size: 12px;
        vertical-align: middle;
        > * {
            margin-right: 3px;
        }
    }

    .stats-buttons {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .translate {
        color: var(--accent-color);

        &:hover {
            cursor: pointer;
        }
    }
}

.post .header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 2px;

    .handle {
        font-weight: 700;
    }

    .handle-area {
        line-break: anywhere;
        display: inline-block;
    }

    .icon {
        background-image: icon.$reposted;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 10px;
        width: 10px;
    }

    .repost {
        background-color: #609928;
        background-image: linear-gradient(#609928, #588d25);
        border-radius: 2px;
        display: inline-block;
        height: 11px;
        margin-right: 3px;
        padding: 0px 4px;
        padding-top: 1px;
        vertical-align: top;
    }

    .timestamp {
        color: #999;
    }
}

.embeds {
    //border: 1px solid $lighter-grey;
    border-radius: $border-radius;
    display: block;
    line-height: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 4px;

    a {
        max-width: 100%;
        display: inline-block;
        line-height: 14px;
    }

    .record-link {
        max-width: 100%;
        display: block;
        word-break: break-word;
    }

    .external {
        padding: 4px;
        width: 100%;

        img {
            max-width: 100%;
        }

        span {
            display: block;
            text-align: left;
            word-break: break-word;

            &.description {
                margin-top: 3px;
            }

            &.title {
                font-weight: 700;
            }
        }
    }

    .external-image::after {
        background-color: $light-grey;
        border-radius: $border-radius;
        color: #fff;
        content: "External";
        display: block;
        font-size: 12px;
        line-height: 12px;
        padding: 2px 6px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .images {
        width: 100%;
        overflow-x: scroll;
    }

    .image {
        line-height: 0;

        img {
            object-fit: cover;
            max-width: 100%;
            height: 100%;
            border-radius: $border-radius;
            position: relative;
        }
    }

    video {
        object-fit: cover;
        max-width: 100%;
        height: 100%;
        border-radius: $border-radius;
        position: relative;
    }
}

.post .interaction {
    background: none;
    border: none;
    color: $dark-grey;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    margin-right: 6px;
    padding: 0;

    &:hover {
        text-decoration: none;
    }

    span {
        vertical-align: middle;
    }

    .icon {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        display: inline-block;
        height: 12px;
        margin-right: 2px;
        vertical-align: sub;
        width: 12px;
    }
}

.post.full {
    .header {
        justify-content: left;

        font-size: 15px;
        line-height: 16px;
        margin-bottom: 0;
    }

    .handle-area {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .pfp-holder {
        margin: 0 4px 0 1px;
    }

    .pfp-holder::after {
        display: none;
    }

    .content {
        margin-left: 0;
    }

    .interaction {
        font-size: 14px;

        .icon {
            height: 14px;
            width: 14px;
        }
    }

    .post-content {
        font-family: $serif;
        font-size: 18px;
    }

    .stat {
        margin-right: 4px;
    }

    .stat-name {
        color: $medium-grey;
        font-size: 11px;
        text-transform: uppercase;
    }

    .stats {
        border-bottom: 1px solid $light-grey;
        border-top: 1px solid $light-grey;
        margin: 4px 0;
        padding: 4px 0;
    }
}

.like-button {
    .icon {
        background-image: icon.$fav;
    }

    &.active .icon,
    &:hover .icon {
        background-image: icon.$fav-active;
    }
}

.repost-button {
    .icon {
        background-image: icon.$repost;
    }
    &.active .icon,
    &:hover .icon {
        background-image: icon.$repost-active;
    }
}

.reply-button {
    .icon {
        background-image: icon.$reply;
    }
    &.active .icon,
    &:hover .icon {
        background-image: icon.$reply-active;
    }
}

.quote-button {
    .icon {
        background-image: icon.$quote;
    }

    &.active .icon,
    &:hover .icon {
        background-image: icon.$quote-active;
    }
}

@media (max-width: 920px) {
    .card {
        width: 100%;
        scroll-margin: 52px;
    }

    .post {
        .interaction {
            font-size: 14px;
            margin: 0;

            .icon {
                height: 14px;
                width: 14px;
            }
        }
    }
}
