@use "variables" as *;

.simple-card {
    background: $white;
    border: $border;
    border-radius: $border-radius;
    display: block;
    flex-grow: 1;
    margin-bottom: 8px;
    padding: 8px;
}

.card {
    display: flex;
    scroll-margin: 48px;
    flex-grow: 1;

    .content {
        background: $white;
        border: $border;
        border-radius: $border-radius;
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        padding: 8px;
        margin-bottom: 8px;
    }

    .display-name::before {
        content: " ";
    }

    .pfp-holder {
        display: block;
        float: left;
        flex-shrink: 1;
        line-height: 0;
        margin: 3px 10px;
        border-radius: 3px;
        a {
            display: block;
        }
        .pfp {
            border-radius: 2px;
        }
    }

    .pfp-holder,
    .pfp {
        height: 48px;
        width: 48px;
    }

    .warnings {
        margin-top: 3px;
    }

    .warning {
        background-color: $lighter-grey;
        border-radius: 8px;
        display: inline-block;
        font-size: 12px;
        padding: 2px 6px;
    }

    &.show-muted {
        cursor: pointer;
        margin-bottom: 0;

        .content {
            margin: 0;
            min-height: 16px;
        }

        .pfp {
            background-color: #fff;
            background-image: url("../svg/mute-pfp.svg");
            background-size: cover;
        }

        .pfp-holder {
            margin: 0 8px;
        }

        .pfp-holder,
        .pfp {
            height: 32px;
            width: 32px;
        }

        &:hover {
            .content,
            .pfp {
                background-color: $lighter-grey;
            }
        }
    }
}

@media (max-width: 920px) {
    .card {
        width: 100%;
        scroll-margin: 52px;
    }
}
