@use "variables" as *;

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3333;
    z-index: 2;
}

.composer {
    margin: 20vh auto;
    border-radius: $border-radius;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    padding: 8px;
    background: $white;
    display: flex;
    flex-flow: column;
    gap: 8px;
    .space-between {
        justify-content: space-between;
    }
    .textbox {
        font-size: 16px;
        outline: none;
        overflow-y: auto;
        flex-grow: 1;
        &:empty:before {
            color: $medium-grey;
            content: attr(aria-placeholder);
            cursor: text;
        }
    }
    .image-preview {
        display: flex;
        gap: 4px;
        .image {
            width: 25%;
            position: relative;
            .remove {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 16px;
                line-height: 8px;
                padding: 6px;
            }
            img {
                box-sizing: border-box;
                border-radius: $border-radius;
                border: 1px solid rgba(0, 0, 0, 0.1);
                width: 100%;
            }
        }
    }
}

.text-area {
    display: flex;
    flex-grow: 1;
    gap: 8px;
    .avatar-area {
        width: 48px;
        height: 100%;
        img {
            border-radius: 2px;
            width: 48px;
            height: 48px;
            display: block;
        }
    }
}

@media (min-width: 920px) {
    .composer {
        margin-top: 10vh;
        min-height: 200px;
    }
}
@media (max-width: 920px) {
    .composer {
        margin: 0;
        border-radius: 0;
        border: none;
        max-width: unset;
        max-height: unset;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        min-height: 0;
        flex-grow: 1;
        .textbox {
            min-height: 100px;
            flex-grow: 1;
        }
    }
}
