@use "variables" as *;

#navbar {
    display: block;
    position: fixed;
    width: 100%;
    height: $navbar-height;
    background-color: #333;
    background-image: linear-gradient(#363636, #2c2c2c);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    z-index: 1;
    $font-size: 14px;
    $padding-vertical: (($navbar-height - $font-size) * 0.5);
    a {
        display: block;
        max-width: fit-content;
        padding: $padding-vertical 12px;
        vertical-align: middle;
        color: #fff;
        font-size: $font-size;
        height: $font-size;

        svg {
            $height: 24px;
            float: left;
            position: relative;
            top: ($font-size - $height) * 0.5;
        }

        span {
            margin-left: 4px;
        }

        &.active {
            box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.75);
            background-color: #202020;
        }
    }
}

@media (max-width: 920px) {
    #navbar {
        justify-content: space-between;
        a {
            padding-left: 0;
            padding-right: 0;
        }
        span {
            display: none;
        }
        svg,
        button {
            width: 25vw;
        }
    }
}
