@use "variables" as *;

#navbar {
    display: block;
    position: fixed;
    width: 100%;
    height: $navbar-height;
    background-color: #333;
    background-image: linear-gradient(#363636, #2c2c2c);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    z-index: 1;
    $font-size: 14px;
    $padding-vertical: (($navbar-height - $font-size) * 0.5);
    a,
    button {
        display: flex;
        flex-flow: row;
        gap: 4px;
        align-items: center;
    }
    a {
        max-width: fit-content;
        padding: 0 12px;
        color: #fff;
        font-size: $font-size;
        height: 100%;
        max-width: unset;

        svg {
            $height: 24px;
            top: ($font-size - $height) * 0.5;
        }

        &.active {
            box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.75);
            background-color: #202020;
        }
    }
    button {
        margin: 3px 0;
    }
}

#navbar button,
.follow {
    @include accent-button;
}

@media (max-width: 920px) {
    #navbar {
        height: $navbar-height-mobile;
        justify-content: space-between;
        span {
            display: none;
        }
        a,
        button {
            padding: 0;
            min-width: 0;
            justify-content: center;
            flex-grow: 1;
        }
        a svg {
            transform: scale(1.1);
        }
    }
    #navbar #composer-button {
        $size: 60px;
        bottom: $navbar-height-mobile;
        width: $size;
        height: $size;
        margin: 12px;
        position: absolute;
        right: 0;
        border-radius: $size;
        svg {
            transform: scale(1.25);
        }
    }
}
