@use "variables" as *;

.profile-header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    margin: 0 auto 8px;
    padding: 8px;
    .pfp-holder {
        display: flex;
        margin-right: 8px;
        a {
            display: block;
        }
        .pfp {
            width: 128px;
            height: 128px;
            border-radius: 4px;
            object-fit: contain;
        }
    }
    .header {
        display: flex;
        flex-flow: column;
        //flex-grow: 1;
        width: 100%;
        .display-name {
            font-size: 26px;
            font-weight: 700;
            line-break: anywhere;
        }
        .handle {
            font-size: 18px;
            display: block;
            color: #777;
            line-break: anywhere;
            margin-bottom: 4px;
        }
        .bio {
            font-size: 13px;
            font-family: $serif;
            color: #777;
            line-height: 14px;
            font-style: italic;
            flex-grow: 1;
        }
    }
    .stats {
        display: flex;
        flex-flow: column;
        flex-shrink: 0;
        margin-left: 8px;
        a,
        button {
            display: block;
        }
        a {
            padding: 6px 12px 6px 0;
            line-height: 16px;
            border-top: 1px solid #e8e8e8;
            text-transform: uppercase;
            font-size: 10px;
            color: $medium-grey;
            &:first-of-type {
                border-top: none;
            }
            b {
                font-size: 14px;
                color: #333;
            }
        }
    }
}

@media (max-width: 920px) {
    .profile-header {
        .pfp-holder .pfp {
            width: 72px;
            height: 72px;
        }
        .header {
            .display-name,
            .handle {
                font-size: 18px;
            }
        }
        .bio {
            display: block;
            max-width: 100%;
            height: 100%;
        }
        .stats {
            a,
            button {
                display: inline-block;
            }
            a {
                border: none;
            }
        }
    }
}
