@use "variables" as *;

.profile-header {
    display: block;
    width: 872px;
    background: #fff;
    border-radius: 4px;
    margin: 0 auto 8px;
    height: 128px;
    padding: 8px;
    .pfp-holder {
        float: left;
        margin-right: 8px;
        a {
            display: block;
        }
        .pfp {
            width: 128px;
            height: 128px;
            border-radius: 4px;
            object-fit: contain;
        }
    }
    .header {
        .display-name {
            font-size: 26px;
            font-weight: 700;
            display: block;
            line-height: 1;
        }
        .handle {
            font-size: 18px;
            display: block;
            color: #777;
            line-height: 24px;
        }
    }
    .bio {
        font-size: 13px;
        font-family: Georgia, serif;
        color: #777;
        line-height: 14px;
        padding-right: 8px;
        height: 78px;
        overflow-y: scroll;
        font-style: italic;
    }
    .stats {
        display: block;
        width: max-content;
        max-width: 200px;
        float: right;
        a,
        button {
            display: block;
        }
        a {
            padding: 6px 12px 6px 0;
            line-height: 16px;
            border-top: 1px solid #e8e8e8;
            text-transform: uppercase;
            font-size: 10px;
            color: #999;
            &:first-of-type {
                border-top: none;
            }
            b {
                font-size: 14px;
                color: #333;
            }
        }
    }
}
