:root {
    --accent-color: #269;
}

body {
    font-family: arial;
    font-size: 15px;
    height: 100%;
    margin: 0;
    background: #224 center/cover fixed repeat;
    color: #333;
}

a {
    color: unset;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#content {
    margin-left: auto;
    width: max-content;
}

.feedpost,
.feedprofile {
    display: table;
}

#content .pfp-holder,
#content .pfp-holder .pfp {
    width: 48px;
    height: 48px;
}

#content .pfp-holder {
    margin: 4px;
    float: left;
    display: block;
    line-height: 0;
}

#content .pfp-holder .pfp {
    border-radius: 2px;
}

.feedpost .pfp-holder::after {
    content: "";
    background-image: url(bubble.svg);
    width: 12px;
    height: 16px;
    display: block;
    position: relative;
    left: 50px;
    bottom: 32px;
}

.feedpost .content-div,
.feedprofile .data {
    display: block;
    width: 500px;
    float: right;
    margin: 0 0 8px 8px;
    background: #fff;
    padding: 8px;
    border-radius: 4px;
}

.feedpost.thread .content-div {
    margin-left: 68px;
}

.feedpost .header {
    display: block;
    font-size: 12px;
}

.feedpost .header svg {
    width: 10px;
    height: 10px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    stroke-width: 3px;
    background: linear-gradient(#609928, #588d25);
    padding: 1px 4px;
    border-radius: 2px;
}

.feedpost .header .handle {
    font-weight: 700;
}
.feedpost .header .time {
    float: right;
}

.feedpost .content {
    display: block;
    margin-bottom: 4px;
    float: inline-start;
    width: 100%;
    word-wrap: break-word;
}

.feedpost .stats {
    display: block;
    float: inline-start;
    font-size: 12px;
}

.feedpost .stats icon {
    margin-right: 4px;
}

a.interaction {
    cursor: pointer;
    display: inline-block;
    margin-right: 4px;
    &:hover {
        text-decoration: none;
    }
}

a.interaction svg {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 2px;
    cursor: pointer;
}

.like:hover svg,
.like.active svg {
    fill: #f90;
}
.repost:hover svg,
.repost.active svg {
    stroke: #609928;
}
.reply:hover svg,
.reply.active svg {
    fill: #999;
}

.profile {
    display: block;
    width: 800px;
    background: #fff;
    border-radius: 4px;
    margin: 0 auto 8px;
    height: 128px;
    padding: 8px;
}

.profile .pfp-holder {
    float: left;
    margin-right: 8px;
}

.pfp-holder a {
    display: block;
}

.profile .pfp {
    width: 128px;
    height: 128px;
    border-radius: 4px;
    object-fit: contain;
}

.profile .header {
    height: 28px;
}

.profile .display {
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    line-height: 1;
}

.profile .handle {
    font-size: 18px;
    display: inline-block;
    color: #777;
    line-height: 24px;
}

.profile .bio {
    font-size: 13px;
    font-family: Georgia, serif;
    color: #777;
    line-height: 14px;
    padding-right: 8px;
    height: 100px;
    overflow-y: scroll;
}

.profile .stats {
    display: block;
    width: max-content;
    max-width: 200px;
    float: right;
}

.profile .stats a,
.profile .stats button {
    display: block;
}

.profile .stats a {
    padding: 6px 12px 6px 0;
    line-height: 16px;
    border-top: 1px solid #e8e8e8;
    text-transform: uppercase;
    font-size: 10px;
    color: #999;
    &:first-of-type {
        border-top: none;
    }
}

.profile .stats b {
    font-size: 14px;
    color: #333;
}

button {
    font-size: 13px;
    padding: 4px 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: linear-gradient(#fff, #ddd);
    font-weight: 700;
    &:hover {
        border-color: #c8c8c8;
        background: linear-gradient(#f8f8f8, #d8d8d8);
    }
}

.embeds {
    display: block;
    text-align: center;
}

a.image {
    display: inline-block;
    line-height: 0;
}

a.image img {
    object-fit: contain;
}

#container {
    background: rgba(255, 255, 255, 0.3);
    width: min-content;
    padding: 16px;
    margin: 0 auto;
    display: table;
    min-height: calc(100vh - 32px);
}

.left-bar {
    display: block;
    float: left;
}

.profile-nav {
    background: #f9f9f9;
    border-radius: 4px;
    width: 228px;
    margin-bottom: 8px;
}

.profile-nav a {
    width: -moz-available;
    width: -webkit-fill-available;
    display: block;
    padding: 8px 12px;
    border-bottom: 1px solid #e8e8e8;
    &::after {
        content: "❯";
        display: block;
        float: right;
        color: #ccc;
        line-height: 1;
        font-size: 20px;
        position: relative;
        bottom: 1px;
    }
    &:hover::after,
    &.active::after {
        color: #666;
    }
    &:first-of-type {
        border-radius: 4px 4px 0 0;
    }
    &:last-of-type {
        border-bottom: none;
        border-radius: 0 0 4px 4px;
    }
    &:only-of-type {
        border-radius: 4px !important;
    }
    &.active,
    &:hover {
        background: #fff;
        color: #333;
    }
    &.active {
        font-weight: 700;
    }
}

.feedpost .pfp,
.feedpost .content-div,
.profile,
.profile-nav {
    box-shadow: 0 0 2px -0.3px #000;
}

.profile,
.profile-nav,
.feedpost .header,
.feedpost .stats,
.feedprofile {
    text-shadow: 0 1px 0 #fff;
}

.feedprofile {
    .header {
        font-size: 13px;
    }
    .display {
        margin-right: 4px;
        font-weight: 700;
    }
    .bio {
        font-size: 12px;
        line-height: 14px;
    }
}

.profile .stats a:hover,
.profile .stats a:hover b,
.profile-nav a {
    text-decoration: none;
    color: var(--accent-color);
}

a.time {
    text-decoration: none;
    color: #999;
}

a.header:hover,
a.handle:hover,
a.time:hover {
    text-decoration: underline;
    color: var(--accent-color);
}
