body {
  font-family: arial;
  font-size: 15px;
  height: 100%;
  background-color: #224;
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
  color: #333;
}
a {
  color: unset;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#feed {
  margin-left: auto;
  width: max-content;
}

.feedpost,
.feedprofile {
  display: table;
}
#feed .pfp-holder,
#feed .pfp-holder .pfp {
  width: 48px;
  height: 48px;
}
#feed .pfp-holder {
  margin: 4px;
  float: left;
  display: block;
  line-height: 0;
}
#feed .pfp-holder .pfp {
  border-radius: 2px;
}
.feedpost .pfp-holder::after {
  content: '';
  background-image: url(bubble.svg);
  width: 12px;
  height: 16px;
  display: block;
  position: relative;
  left: 50px;
  bottom: 32px;
}
.feedpost .content-div,
.feedprofile .data {
  display: block;
  width: 500px;
  float: right;
  margin-left: 8px;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.feedpost.thread .content-div {
  margin-left: 68px;
}
.feedpost .header {
  display: block;
  font-size: 12px;
}
.feedpost .header svg {
  width: 10px;
  height: 10px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  stroke-width: 3px;
  background-color: #609928;
  background-image: linear-gradient(#609928, #588d25);
  padding: 1px 4px;
  border-radius: 2px;
}
.feedpost .header .handle {
  font-weight: 700;
}
.feedpost .header .time {
  float: right;
}
.feedpost .content {
  display: block;
  margin-bottom: 4px;
  float: inline-start;
  width: 100%;
}
.feedpost .content {
  word-wrap: break-word;
}
.feedpost .stats {
  display: block;
  float: inline-start;
  font-size: 12px;
}
.feedpost .stats icon {
  margin-right: 4px;
}
a.interaction {
  cursor: pointer;
  display: inline-block;
  margin-right: 4px;
}
a.interaction:hover {
  text-decoration: none;
}
a.interaction svg {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 2px;
  cursor: pointer;
}
.like:hover svg,
.like.active svg {
  fill: #f90;
}
.repost:hover svg,
.repost.active svg {
  stroke: #609928;
}
.reply:hover svg,
.reply.active svg {
  fill: #999;
}

.profile {
  display: block;
  width: 800px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 128px;
  padding: 8px;
}
.profile .pfp-holder {
  float: left;
  margin-right: 8px;
}
.pfp-holder a {
  display: block;
}
.profile .pfp {
  width: 128px;
  height: 128px;
  border-radius: 4px;
  object-fit: contain;
}
.profile .header {
  height: 28px;
}
.profile .display {
  font-size: 26px;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
}
.profile .handle {
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  color: #777;
  line-height: 24px;
}
.profile .bio {
  font-size: 13px;
  font-family: Georgia, serif;
  color: #777;
  line-height: 14px;
  padding-right: 8px;
  height: 100px;
  overflow-y: scroll;
}
.profile .stats {
  display: block;
  width: max-content;
  max-width: 200px;
  float: right;
}
.profile .stats a, .profile .stats button {
  display: block;
}
.profile .stats a {
  padding: 6px 12px 6px 0;
  line-height: 16px;
  border-top: 1px solid #e8e8e8;
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
}
.profile .stats a:first-of-type {
  border-top: none;
}
.profile .stats b {
  font-size: 14px;
  color: #333;
}
button {
  font-size: 13px;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ddd;
  background-image: linear-gradient(#fff, #ddd);
  font-weight: 700;
}
button:hover {
  border: 1px solid #c8c8c8;
  background-color: #d8d8d8;
  background-image: linear-gradient(#f8f8f8, #d8d8d8);
}

.embeds {
  display: block;
  text-align: center;
}
a.image {
  display: inline-block;
  line-height: 0;
}
a.image img {
  object-fit: contain;
}

#page-container {
  background-color: rgba(255, 255, 255, 0.3);
  width: min-content;
  padding: 16px;
  margin: 0 auto;
  float: center;
  min-height: 100vh;
}
.profile {
  margin-left: auto;
  margin-right: auto;
}

.profile-nav {
  float: left;
  display: block;
  background-color: #f9f9f9;
  border-radius: 4px;
  width: 228px;
}
.profile-nav a {
  width: -moz-available;
  width: -webkit-fill-available;
  display: block;
  padding: 8px 12px;
  border-bottom: 1px solid #e8e8e8;
}
.profile-nav a::after {
  content: '❯';
  display: block;
  float: right;
  color: #ccc;
  line-height: 1;
  font-size: 20px;
  position: relative;
  bottom: 1px;
}
.profile-nav a:hover::after,
.profile-nav a.active::after {
  color: #666;
}
.profile-nav a:first-of-type {
  border-radius: 4px 4px 0 0;
}
.profile-nav a:last-of-type {
  border-bottom: none;
  border-radius: 0 0 4px 4px;
}
.profile-nav a.active, .profile-nav a:hover {
  background-color: #fff;
  color: #333;
}
.profile-nav a.active {
  font-weight: 700;
}
.feedpost .pfp,
.feedpost .content-div,
.profile,
.profile-nav {
  box-shadow: 0px 0px 2px -0.3px #000;
}

.profile,
.profile-nav,
.feedpost .header,
.feedpost .stats,
.feedprofile {
  text-shadow: 0 1px 0 #fff;
}

.feedprofile .header {
  font-size: 13px;
}
.feedprofile .display {
  margin-right: 4px;
  font-weight: 700;
}
.feedprofile .bio {
  font-size: 12px;
  line-height: 14px;
}

.profile .stats a:hover, .profile .stats a:hover b, .profile-nav a {
  text-decoration: none;
  /*accent color but we don't have those... so i'm using the 2016 twitter one idk*/
  color: #269;
}
a.time {
  text-decoration: none;
  color: #999;
}
a.header:hover, a.handle:hover, a.time:hover {
  text-decoration: underline;
  color: #269;
}