@use "../variables" as *;

// Posts and replies
$avatar-margin: 0px;
$large-avatar-size: 40px;
$reply-avatar-size: 32px;
$large-avatar-right-margin: 10px;
$reply-avatar-right-margin: 10px;
$string-width: 2px;
$string-avatar-margin: 3px;
$large-string-margin: ($large-avatar-size - $string-width) * 0.5 +
    ($border-width + $avatar-margin);
$reply-string-margin: ($reply-avatar-size - $string-width) * 0.5 +
    ($border-width + $avatar-margin);
$speech-bubble-height: 16px;
$speech-bubble-width: 8px;

$content-padding: 8px;
