@use "../variables" as *;
@use "card_variables" as *;

.simple-card {
    background: $white;
    border: $border;
    border-radius: $border-radius;
    display: block;
    flex-grow: 1;
    margin-bottom: 8px;
    padding: $content-padding;
}

.card {
    display: flex;
    scroll-margin: 48px;
    flex-grow: 1;
    min-width: 0;

    .content {
        background: $white;
        border: $border;
        border-radius: $border-radius;
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        padding: $content-padding;
        margin-bottom: 8px;
        min-width: 0;
        gap: 2px;
    }

    .display-name::before {
        content: " ";
    }

    .pfp-holder {
        display: block;
        float: left;
        flex-shrink: 1;
        line-height: 0;
        margin: $string-pfp-margin $large-pfp-right-margin $string-pfp-margin
            $pfp-margin;
        border-radius: 3px;
        a {
            display: block;
        }
        .pfp {
            border-radius: 2px;
        }
    }

    .pfp-holder,
    .pfp {
        height: $large-pfp-size;
        width: $large-pfp-size;
    }

    &.show-muted {
        cursor: pointer;
        margin-bottom: 0;

        .content {
            margin: 0;
            min-height: 16px;
        }

        .pfp {
            background-color: #fff;
            background-image: url("../svg/mute-pfp.svg");
            background-size: cover;
        }

        .pfp-holder {
            margin: 0 8px;
        }

        .pfp-holder,
        .pfp {
            height: 32px;
            width: 32px;
        }

        &:hover {
            .content,
            .pfp {
                background-color: $lighter-grey;
            }
        }
    }
}

@media (max-width: 920px) {
    .card {
        scroll-margin: 52px;
    }
}
