@use "../variables" as *;
@use "card_variables" as *;

.simple-card {
    background: $white;
    border: $border;
    border-radius: $border-radius;
    display: block;
    flex-grow: 1;
    margin-bottom: 8px;
    padding: $content-padding;
}

.card-holder {
    position: relative;
    display: flex;
    scroll-margin: 48px;
    flex-grow: 1;
    min-height: 0;
    min-width: 0;

    .card {
        -webkit-tap-highlight-color: transparent;
        align-self: flex-start;
        background: $white;
        border: $border;
        border-radius: $border-radius;
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        padding: $content-padding;
        margin-bottom: 8px;
        min-width: 0;
        gap: 2px;

        .timestamp,
        .greyed {
            color: #999;
        }

        &.accent-card {
            @include accent-card;
        }

        /*&:hover:not(:has(.embeds:hover)) {
            background-color: $lighter-grey;
        }*/
    }

    &.clickable .card {
        cursor: pointer;
    }

    .display-name::before {
        content: " ";
    }

    .avatar-holder {
        display: block;
        flex-shrink: 1;
        line-height: 0;
        margin: $string-avatar-margin $large-avatar-right-margin
            $string-avatar-margin $avatar-margin;
        border-radius: 3px;
        a {
            display: block;
        }
        .avatar {
            border-radius: 2px;
        }
    }

    .avatar-holder,
    .avatar {
        height: $large-avatar-size;
        width: $large-avatar-size;
    }

    &.show-muted {
        cursor: pointer;
        margin-bottom: 0;

        .card {
            margin: 0;
            min-height: 16px;
        }

        .avatar {
            background-color: #fff;
            background-image: url("../svg/mute-avatar.svg");
            background-size: cover;
        }

        .avatar-holder {
            margin: 0 8px;
        }

        .avatar-holder,
        .avatar {
            height: 32px;
            width: 32px;
        }

        &:hover {
            .card,
            .avatar {
                background-color: $lighter-grey;
            }
        }
    }
}

.card .header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 12px;
    //line-height: 12px;
    //margin-bottom: 2px;

    .handle {
        font-weight: 700;
    }

    .handle-area {
        line-break: anywhere;
        display: flex;
        gap: 3px;
        align-items: center;
    }

    .icon {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 10px;
        width: 10px;
    }
}

.card p {
    margin-top: calc($font-size / 2);
    margin-bottom: calc($font-size / 2);
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
