@use "../variables" as *;

.embeds {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 4px;

    > * {
        display: block;
        border: 1px solid $light-grey;
        box-sizing: border-box;
        border-radius: $border-radius;
    }

    a {
        max-width: 100%;
        line-height: 14px;
    }

    .record-link {
        max-width: 100%;
        display: block;
        word-break: break-word;
    }
}

$image-height: 320px;
$multi-image-height: 220px;
$border-total-width: 2px;

.images {
    $height: $image-height + $border-total-width;
    border: none;
    display: flex;
    max-height: $height;
    overflow-x: scroll;
    max-width: 100%;
    > a {
        line-height: 0;
        flex-shrink: 0;
        margin-right: 4px;
        &:last-child {
            margin-right: 0;
        }
    }
    a img,
    video {
        box-sizing: border-box;
        border-radius: $border-radius;
        border: 1px solid $light-grey;

        min-width: 30px;
        min-height: 30px;

        width: auto;
        height: auto;

        max-width: 100%;
        max-height: $height;
    }
}
.images.multi {
    $height: $multi-image-height + $border-total-width;
    max-height: $height;
    a img,
    video {
        max-height: $height;
    }
}

.external {
    width: 100%;
    &:hover {
        text-decoration: none;
        background: $lighter-grey;
    }

    img {
        $border-radius-minus-one: $border-radius - 1px;
        border-radius: $border-radius-minus-one $border-radius-minus-one 0 0;
        width: 100%;
        max-height: $image-height;
        object-fit: cover;
    }

    .text {
        padding: 6px;
    }

    span {
        display: block;
        text-align: left;
        word-break: break-word;
    }

    .title {
        font-weight: 700;
    }

    .description {
        margin: 3px 0;
    }

    .small {
        margin-top: 3px;
        border-top: 1px solid $light-grey;
    }
}
