@use "icons" as icon;
@use "../variables" as *;
@use "card_variables" as *;

.post {
    .left-area {
        display: flex;
        flex-flow: column;
    }

    .footer {
        display: flex;
        flex-flow: column;
        margin-top: 2px;
    }

    .pfp-holder::after {
        background-image: url("../svg/bubble.svg");
        content: "";
        display: block;
        position: relative;
        width: $large-pfp-right-margin;
        height: $speech-bubble-height;
        left: $large-pfp-size + 2px;
        bottom: ($large-pfp-size + $speech-bubble-height) * 0.5;
    }

    .timestamp {
        color: #999;
    }

    .label-area {
        margin-top: 3px;
    }

    .label {
        background-color: $lighter-grey;
        border-radius: 8px;
        display: inline-block;
        font-size: 12px;
        padding: 2px 6px;
    }
}

.post-content {
    margin-top: 2px;
    > * {
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.text-content {
    display: block;
    word-break: break-word;
}

.post-data {
    display: flex;
    flex-flow: row;
    font-size: 12px;
    vertical-align: middle;
    > * {
        margin-right: 3px;
    }
}

.post .header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 12px;
    //line-height: 12px;
    //margin-bottom: 2px;

    .handle {
        font-weight: 700;
    }

    .handle-area {
        line-break: anywhere;
        display: inline-block;
    }

    .icon {
        background-image: icon.$reposted;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 10px;
        width: 10px;
    }

    .repost {
        background-color: #609928;
        background-image: linear-gradient(#609928, #588d25);
        border-radius: 2px;
        display: inline-block;
        height: 11px;
        line-height: 12px;
        margin-right: 3px;
        padding: 0px 4px;
        padding-top: 1px;
        //vertical-align: top;
    }
}

.stats-buttons {
    display: flex;
}

.interaction {
    background: none;
    border: none;
    color: $dark-grey;
    cursor: pointer;
    display: inline-block;
    line-height: 14px;
    padding: 0;

    &:hover {
        text-decoration: none;
    }

    span {
        vertical-align: middle;
    }

    $size: 12px;
    font-size: $size;
    margin-right: $size * 0.5;
    .icon {
        display: inline-block;
        width: $size;
        height: $size;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: sub;
        margin-right: 2px;
    }
}

.post.full {
    .header {
        justify-content: left;
        font-size: 15px;
        line-height: 16px;
    }

    .handle-area {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .pfp-holder {
        margin: 0 8px 0 1px;
    }

    .pfp-holder::after {
        display: none;
    }

    .content {
        margin-left: 0;
    }

    .interaction {
        $size: 14px;
        font-size: 14px;
        margin-right: $size * 0.5;
        .icon {
            height: $size;
            width: $size;
        }
    }

    .text-content {
        font-family: $serif;
        font-size: 18px;
    }

    .stat {
        margin-right: 4px;
    }

    .stat-name {
        color: $medium-grey;
        font-size: 11px;
        text-transform: uppercase;
    }

    .stats {
        border-bottom: 1px solid $light-grey;
        border-top: 1px solid $light-grey;
        margin: 4px 0;
        padding: 4px 0;
    }
}

.like-button {
    .icon {
        background-image: icon.$fav;
    }

    &.active .icon,
    &:hover .icon {
        background-image: icon.$fav-active;
    }
}

.repost-button {
    .icon {
        background-image: icon.$repost;
    }
    &.active .icon,
    &:hover .icon {
        background-image: icon.$repost-active;
    }
}

.reply-button {
    .icon {
        background-image: icon.$reply;
    }
    &.active .icon,
    &:hover .icon {
        background-image: icon.$reply-active;
    }
}

.quote-button {
    .icon {
        background-image: icon.$quote;
    }

    &.active .icon,
    &:hover .icon {
        background-image: icon.$quote-active;
    }
}

@media (max-width: 920px) {
    .interaction {
        $size: 14px;
        font-size: 14px;
        margin-right: $size * 0.5;
        .icon {
            height: $size;
            width: $size;
        }
    }
    .post.full .interaction {
        $size: 16px;
        font-size: 16px;
        margin-right: $size * 0.5;
        .icon {
            height: $size;
            width: $size;
        }
    }
}
