@use "../icons" as icon;
@use "../variables" as *;
@use "card_variables" as *;

.post {
    .left-area {
        display: flex;
        flex-flow: column;
    }

    .footer {
        display: flex;
        flex-flow: column;
    }

    .left-area::after {
        background-image: url("../svg/bubble.svg");
        content: "";
        display: block;
        position: absolute;
        width: $speech-bubble-width;
        height: $speech-bubble-height;
        left: $large-avatar-size +
            ($large-avatar-right-margin - $speech-bubble-width) + 3px;
        top: $string-avatar-margin + 1px + ($large-avatar-size * 0.5) -
            ($speech-bubble-height * 0.5);
    }

    .flex-row-gap {
        display: flex;
        flex-flow: row;
        gap: 4px;
    }
}

.post-content {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.text-content {
    display: block;
    word-break: break-word;
    white-space: pre-wrap;
    .bluemoji {
        width: 1em;
        height: 1em;
        vertical-align: middle;
    }
}

.post-data {
    display: flex;
    flex-flow: row;
    font-size: 12px;
    vertical-align: middle;
    gap: 6px;
}

.post .header {
    .repost {
        background-color: #609928;
        background-image: linear-gradient(#609928, #588d25);
        border-radius: 2px;
        display: inline-block;
        height: 11px;
        line-height: 12px;
        padding: 0px 4px;
        padding-top: 1px;
        //vertical-align: top;
        .icon {
            background-image: icon.$reposted;
        }
    }
    .og-fedi-link {
        font-size: 10px;
    }
}

.stats-buttons {
    $size: 12px;
    display: flex;
    gap: $size * 0.5;

    .interaction {
        display: flex;
        border-radius: 0;
        font-weight: 400;
        background: none;
        border: none;
        color: $dark-grey;
        cursor: pointer;
        line-height: 14px;
        padding: 0;
        align-items: center;

        &:hover {
            text-decoration: none;
        }

        font-size: $size;
        .icon {
            width: $size;
            height: $size;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 2px;
        }
    }
}

.post .card {
    cursor: pointer;
}
.post.full > .card {
    cursor: unset;
}

.post.full > .card > {
    .header {
        width: fit-content;

        justify-content: left;
        font-size: 15px;
        line-height: 16px;
        gap: 8px;

        .handle-area {
            display: flex;
            flex-flow: column;
            align-items: baseline;
            justify-content: center;
        }

        .avatar-holder {
            margin: 0 0 0 1px;
        }

        .avatar-holder::after {
            display: none;
        }

        &:hover {
            text-decoration: none;
            a {
                color: $dark-grey;
                text-decoration: none;
            }
        }
    }

    .post-content > .text-content {
        font-family: $serif;
        font-size: 18px;
    }

    .interaction {
        $size: 14px;
        font-size: $size;
        margin-right: $size * 0.5;
        .icon {
            height: $size;
            width: $size;
        }
    }
}

.post {
    .stat {
        margin-right: 4px;
    }

    .stat-name {
        color: $medium-grey;
        font-size: 11px;
        text-transform: uppercase;
    }

    .stats {
        border-bottom: 1px solid $light-grey;
        border-top: 1px solid $light-grey;
        margin: 4px 0;
        padding: 4px 0;
    }
}

.like-button {
    .icon {
        background-image: icon.$fav;
    }

    &.active .icon,
    &:hover .icon {
        background-image: icon.$fav-active;
    }
}

.repost-button {
    .icon {
        background-image: icon.$repost;
    }
    &.active .icon,
    &:hover .icon {
        background-image: icon.$repost-active;
    }
}

.reply-button {
    .icon {
        background-image: icon.$reply;
    }
    &.active .icon,
    &:hover .icon {
        background-image: icon.$reply-active;
    }
}

.quote-button {
    .icon {
        background-image: icon.$quote;
    }

    &.active .icon,
    &:hover .icon {
        background-image: icon.$quote-active;
    }
}

.warning-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
        repeating-linear-gradient(
            45deg,
            black,
            black 10px,
            $yellow 10px,
            $yellow 20px
        );
    border-color: adjust($yellow, -20%);
    color: $white;
    text-shadow:
        0px 0px 1px rgba(0, 0, 0, 0.8),
        0px 0px 2px rgba(0, 0, 0, 0.7),
        0px 0px 3px rgba(0, 0, 0, 0.6);
    &:hover {
        background-image:
            linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)),
            repeating-linear-gradient(
                45deg,
                black,
                black 10px,
                $yellow 10px,
                $yellow 20px
            );
        border-color: adjust($yellow, -10%);
    }
    .warning-text {
        font-weight: 400;
    }
}

@media (max-width: 920px) {
    .stats-buttons {
        $size: 14px;
        justify-content: space-around;
        gap: $size * 0.5;
        .interaction {
            font-size: $size;
            .icon {
                height: $size;
                width: $size;
            }
        }
    }
    .post.full .stats-buttons {
        $size: 16px;
        gap: $size * 0.5;
        .interaction {
            font-size: $size;
            .icon {
                height: $size;
                width: $size;
            }
        }
    }
}
