@use "card_variables" as *;

.profile {
    .content {
        min-height: $large-pfp-size + ($pfp-margin * 2) - ($content-padding * 2);
    }

    .bio {
        font-size: 12px;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }

    .header {
        font-size: 13px;
        word-break: break-word;
    }

    .handle {
        font-weight: 700;
    }
}
