@use "card_variables" as *;

.profile {
    .card {
        min-height: $large-avatar-size + ($avatar-margin * 2) -
            ($content-padding * 2);
    }

    .bio {
        white-space: wrap;
        font-size: 12px;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }

    .header {
        font-size: 13px;
        word-break: break-word;
    }

    .handle {
        font-weight: 700;
    }
}
