@use "../variables" as *;
@use "card_variables" as *;

.left-area .reply-string {
    flex-grow: 1;
    margin-left: $large-string-margin;
}

.string-container {
    position: relative;
    .reply-string {
        height: 100%;
    }
}
.reply-string {
    margin-left: $reply-string-margin;
    width: $string-width;
    background-color: $lighter-grey;
    &.transparent {
        border-color: transparent;
    }
}
.reply-container .post .reply-string {
    margin-left: $reply-string-margin;
}

.reply-container {
    display: flex;
    flex-flow: row;

    .pfp-holder {
        margin: $pfp-margin $reply-pfp-right-margin $pfp-margin $pfp-margin;
    }

    .pfp-holder,
    .pfp {
        width: $reply-pfp-size;
        height: $reply-pfp-size;
    }

    .pfp-holder::after {
        width: $reply-pfp-right-margin;
        left: $reply-pfp-size + 2px;
        bottom: ($reply-pfp-size + $speech-bubble-height) * 0.5;
    }
}

.connect-string {
    position: absolute;
    margin-left: $reply-string-margin;
    border: $border-width solid $lighter-grey;
    border-width: 0 0 $string-width $string-width;
    width: $reply-string-margin;
    height: ($reply-pfp-size * 0.5) + $pfp-margin;
    border-radius: 0 0 0 $reply-string-margin;
}
