@use "../variables" as *;
@use "card_variables" as *;

.reply-string {
    // i would use width and background color but firefox mobile messes stuff up
    width: 0;
    border: ($string-width * 0.5) solid $lighter-grey;
    border-top: none;
    border-bottom: none;
    &.transparent {
        border-color: transparent;
    }
}
.left-area .reply-string {
    flex-grow: 1;
    margin: 0 $large-string-margin;
}
.string-container {
    position: relative;
    .reply-string {
        height: 100%;
    }
}
.reply-string,
.reply-container .post .reply-string {
    margin-left: $reply-string-margin;
    margin-right: $reply-string-margin + $string-pfp-margin;
}

.reply-container.added-margin {
    gap: $string-pfp-margin;
}

.reply-container {
    display: flex;
    flex-flow: row;

    .pfp-holder {
        margin-right: $reply-pfp-right-margin;
    }

    .pfp-holder,
    .pfp {
        width: $reply-pfp-size;
        height: $reply-pfp-size;
    }

    .pfp-holder::after {
        width: $reply-pfp-right-margin;
        left: $reply-pfp-size + ($reply-pfp-right-margin - $speech-bubble-width) +
            2px;
        bottom: ($reply-pfp-size + $speech-bubble-height) * 0.5;
    }
}

.connect-string {
    position: absolute;
    margin-left: $reply-string-margin;
    border: $border-width solid $lighter-grey;
    border-width: 0 0 $string-width $string-width;
    width: $reply-string-margin + $string-pfp-margin;
    height: ($reply-pfp-size * 0.5) + $string-pfp-margin;
    border-radius: 0 0 0 ($reply-string-margin + $string-pfp-margin);
}
